{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<form action={% url 'create_note' %} method="post">{% csrf_token %}
    <div class="form-group">
        {% render_field form.name class="form-control mb-2 mt-4 bg-dark text-light" id="name" placeholder="Wpisz nazwe notatki" %}
        {% render_field form.subject class="form-control mb-2 bg-dark text-light" name="subject" id="subject" placeholder="Wpisz przedmiot" %}
        {% render_field form.topic class="form-control mb-2 bg-dark text-light" id="topic" placeholder="Wpisz temat" %}
    <div>
    {% render_field form.content id="content" %}
    <div>
        <input type="submit" class="btn-primary mt-1" value="Dodaj notatke">
    </div>
</form>




{% endblock %}