{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="mb-5">
    <div>
        <img src="{% static 'laptop2.jpg' %}" class="w-100 img-fluid"/>
    </div>
</div>

<div class="container-fluid">
     <div class="row">
        <div class="col-6 my-auto" id="laptop_container">
            <img id="laptop_img" src="{% static 'laptop.png' %}" class="w-25 img-fluid mx-auto d-block"/>
        </div>
        <div class="col-6 my-auto" id="text0_container">
            <h3 class="text-white text-center" id="text0">Stwórz najlepszą wersję mobilnych notatek</h3>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 my-auto" id="text1_container">
            <h3 class="text-white text-center" id="text1">Dziel się notatkami ze znajomymi</h3>
        </div>
        <div class="col-6 my-auto" id="userplus_container">
            <img "userplus_img" src="{% static 'userplus.png' %}" class="w-25 img-fluid mx-auto d-block"/>
        </div>
    </div>

</div>


{% endblock %}