{% extends 'base.html' %}
{% load static %}
{% block css %}
    <script type="text/javascript" src="{% static 'shownote.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'note.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container d-flex justify-content-center">
    <div class="row mt-4"><h1 id="note_title" class="text-white">Tytuł: {{ note.name }}</h1></div>
</div>
{% if note.user.user.id == user.id %}
<div class="container">
    <div class="row d-flex justify-content-center"><button id="edit_note" class="btn-success mr-1">Edytuj</button> <button id="delete_note" class="btn-danger">Usuń</button></div>
</div>
{% endif %}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <textarea class="tmpTextArea">{{note.content}} </textarea>
        <div id="toAppend" class="mce-content-body"></div> 

    </div>
</div>

{% endblock %}
