{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'profesor.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include 'navbar.html' %}

<div class="mb-5">
    <div>
        <img src="{% static 'laptop2.jpg' %}" class="w-100 img-fluid"/>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-6 mb-5">
            <h2 class="text-white text-center mb-5 bg-dark" id="avaliable_notes">Dostępne notatki</h2>
            <h4 class="text-white text-center" id="choose_subject_all">Wybierz przedmiot</h4>
            <ul class="list-group cProductsList mt-3" id="list_all"> 
                {% for subject in subjects %}
                    <a href="/bestnotes/subject/{{ subject.id }}" id="{{ subject.name }}{{subject.id}}" class="list-group-item list-group-item-action">{{ subject.name }}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <h2 class="text-white text-center mb-5 bg-dark" id="your_notes">Twoje notatki</h2>
            <h4 class="text-white text-center" id="choose_subject_yours">Wybierz przedmiot</h4>
            <ul class="list-group cProductsList mt-3" id="list_yours"> 
                {% for subject in student_subjects %}
                    <a href="/bestnotes/subject/{{ subject.id }}" id="{{ subject.name }}{{subject.id}}" class="list-group-item list-group-item-action">{{ subject.name }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% else %}
<a href="{% url 'login' %}">Zaloguj sie</a>
{% endif %}

{% endblock %}